:root {
    --main-red: #b81d24;
    --pink-red: #e50914;
    --black: #000000;
    --soft-black: #141414;
    --white: #f5f5f1;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Nunito Sans', sans-serif;
}

