:root {
    --main-red: #b81d24;
    --pink-red: #e50914;
    --black: #000000;
    --soft-black: #141414;
    --white: #f5f5f1;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Nunito Sans', sans-serif;
}

header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 8vh;
    background: var(--black);
}

.header--image-container {
    align-self: center;
}

header img {
    height: 28px;
}

main {
    width: 100%;
    height: 92vh;
    background-color: var(--black);
}

main .main--routes-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 80px;
    width: 100%;
    height: 92vh;
}

main h1 {
    width: 250px;
    margin-bottom: 20px;
    color: var(--white);
    font-size: 1.4rem;
    font-weight: 400;
    text-align: center;
}

main .main--profiles-container {
    display: grid;
    grid-template-columns: 80px 80px;
    grid-auto-rows: 120px;
    column-gap: 16px;
}

main .main--profiles-container img {
    height: 80px;
    width: 100%;
    border-radius: 4px;
    /* background: linear-gradient(207.8deg, #fb7444 16.69%, #2c3b5b 100%); */
    background-color: #fb7444;
    object-fit: cover;
    margin-bottom: 6px;
}

main .main--profile a {
    text-decoration: none;
    color: var(--white);
    font-size: 1rem;
}

/* main .main--profile .main--profile-title span {
    text-align: center;
} */

